---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import "../style/style.css";
---

<Layout title="About">
	<Header active="about"/>
    
    <section class="sec1">
        <h3>About me</h3>

        <div class="card">
            <p>                 
                I'm a student who wants to learn and take on new challenges. I'm curnetly 
                in secondary school in Krakow.
            </p>
        </div>

        <div class="card">
            <p> 
                I'm interested in various types of programming languages C#, Python and WebDev.
            </p>
        </div>
    </section>    
</Layout>
