---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import "../style/style.css";
---

<Layout title="About">
    <Header active="about" />

    <section class="sec1">
        <h3>About me</h3>

        <div class="card">
            <p>
                I'm currently a secondary school student in Kraków, Poland. I
                also attend an AI course at the Jagiellonian University. My
                dream is to become a software developer.
            </p>
        </div>

        <div class="card">
            <p>
                I'm interested in various types of programming languages C#,
                Python and web development.
            </p>
        </div>
    </section>
</Layout>
