---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import "../style/style.css";
---

<Layout title="About">
    <Header active="about" />

    <section class="sec1">
        <h3>About me</h3>

        <div class="card">
            <p>
                My journey with programming began near the end of primary
                school, when I created my first game using a batch (.bat)
                script. That was when I realized that writing code is much more
                than just typing lines of text—it’s an engaging journey that can
                keep you absorbed for hours and bring a lot of satisfaction.

                <span id="text">
                    <br>
                    Since then, I have been consistently developing my skills,
                    and choosing a technical high school specializing in
                    programming was a natural step for me. I wanted my passion
                    to also become a strong foundation for my future career.
                    <br>
                    <br>
                    I regularly publish new projects on GitHub, which motivates me
                    to keep learning and improving my programming skills.

                    <br>
                    <br>
                    Currently, I am a student at a technical school in Kraków, and
                    I also attend an artificial intelligence course at the Jagiellonian
                    University.
                </span>

                <input type="checkbox" id="toggle" hidden />
                <label id="read" for="toggle">Read More</label>
            </p>
        </div>

        <div class="card">
            <p>
                I'm interested in various types of programming languages C#,
                Python and web development.
            </p>
        </div>
    </section>

    <script>
        const checkBox = document.getElementById("toggle");
        const text = document.getElementById("text");
        const label = document.getElementById("read");

        checkBox.addEventListener("change", () => {
            if (checkBox.checked) {
                label.innerHTML = "Read Less";
                text.style.display = "block";
            } else {
                label.innerHTML = "Read More";
                text.style.display = "none";
            }
        });
    </script>
</Layout>
