---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import "../style/style.css";
---

<Layout title="GitHub">
    <Header active="about" />


    <div id="git"></div>

    <section>
        <h3>GitHub</h3>

        <div class="card">
            <p>See my github where I regularly post new repositories - <a href="https://github.com/Daniel-Miziolek" target="_blank">My GitHub</a></p>
        </div>
    </section>
</Layout>
