---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import "../style/style.css";
---

<Layout title="Home">
	<div style="height: 100vh; overflow: hidden;">
		<Header active="home"/>
		<div class="bg-image">
			<div></div>
	    </div>
    
    <div class="bg-text">
        <div class="container">
            <h1 class="animated-text">Daniel Miziołek</h1>
        </div>
    </div>
    </div>
</Layout>
