---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import "../style/style.css";
---

<Layout title="Home">
	<div style="height: 100vh; overflow: hidden;">
		<Header active="home"/>
		<div class="bg-image">
			<div></div>
	    </div>
    
        <h1>Daniel Miziołek</h1>
    </div>
    </div>
</Layout>
