---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import "../style/style.css";
---

<Layout title="Projects">
    <Header active="projects" />

    <section class="sec2">
        <h3>Projects</h3>

        <div class="projects">
            <div class="pr1">
                <h3>Chat App</h3>
                <img src="/images/pr1.png" alt="" />
                <p>
                    It is a chat application written in C#, consisting of two
                    main parts: the client and the server. It is a classic
                    example of a client–server network application that uses TCP
                    communication.
                </p>
                <a
                    href="https://github.com/Daniel-Miziolek/chatApp"
                    target="_blank">View Source on GitHub</a
                >
            </div>

            <div class="pr2">
                <h3>Personal Website</h3>
                <img src="/images/pr2.png" alt="" />
                <p>
                    This project is my personal portfolio website, created to
                    present information about me, my programming skills, and my
                    projects. The website allows visitors to learn more about my
                    experience, view my work, and access my GitHub profile.
                </p>
                <a
                    href="https://github.com/Daniel-Miziolek/Daniel-Miziolek.github.io"
                    target="_blank">View Source on GitHub</a
                >
            </div>

            <div class="pr3">
                <h3>Audio Player</h3>
                <img src="/images/pr3.png" alt="" />
                <p>
                    This project is a console-based audio player application
                    written in C#. It allows users to import audio files, play
                    music, and manage playlists directly from the console. The
                    application supports multiple audio formats, including MP3,
                    WAV, FLAC, and OGG.
                </p>
                <a
                    href="https://github.com/Daniel-Miziolek/audio-player"
                    target="_blank">View Source on GitHub</a
                >
            </div>

            <div class="pr4">
                <h3>Nexo</h3>
                <img src="/images/pr4.png" alt="" />
                <p>
                    This project is a custom programming language called Nexo,
                    created in C# to learn how programming languages work
                    internally. It includes core components such as lexical
                    analysis, parsing, and execution of code written in the Nexo
                    language.
                </p>
                <a href="https://github.com/Daniel-Miziolek/nexo"
                    >View Source on GitHub</a
                >
            </div>
        </div>
    </section>
</Layout>
