*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #38ccae;
  --darker-accent-color: #289680; 
  --element-color: #1e1e1e;
  --field-color: #282727;
  --text-color: #ffffff;  
}

body{
  background-color: var(--element-color);
  font-family: DM Mono, monospace, sans-serif;
}

#page1 {
  background-color: black !important;
}

header nav{
  text-align: right;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background-color: #181818;
}

header a{
  text-decoration: none;
  margin: 8px;
  font-size: 23px;
  color: white;
  transition: 300ms
}

header a:hover {
  border-bottom: 2px solid white;
}

i {
  padding-left: 10px;
  font-size: .8em;
}

span:hover {
  transition: 200ms;
}

nav{
  border-collapse: collapse;
}

h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.bg-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--element-color);
  border-radius: 16px;
  overflow: hidden;
}

.bg-image div {
  position: absolute;
  inset: -10%;
  background-image: url("/images/tlo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
}

.sec1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 800px;
  width: 50%;
}

.sec2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 1100px;
  width: 50%;
  margin: 80px auto;
}

section h3{
  font-size: 25px;
  color: var(--text-color);
}

section .card{
  border-bottom: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
  background-color: var(--field-color);
  flex: 1;
  width: 100%;
  padding: 1rem;
}

section .card p{
  font-size: 18px;
  color: var(--text-color);
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.projects > div {
  background-color: #232323;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  padding: 1.5rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  display: flex;
  flex-direction: column;
}

.projects>div:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.projects > div h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.projects > div > img {
  width: 100%;
}

.projects > div > p {
  color: white;
  font-size: 17px;
  word-spacing: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.projects > div > a {
  background-color: #00574b;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
  margin-top: auto;
  width: 70%;
  text-align: center;
}

.container {
  text-align: center;
}

.animated-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 5s, transform 1s;
}

.animated-text.animate {
opacity: 1;
transform: translateY(0);
}

@media screen and (max-width: 1000px) {  
  p{
    font-size: 18px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  a {
    font-size: 20px !important;
  }

  header nav {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  p{
    font-size: 16px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  a {
    font-size: 17px !important;
  }

  header nav {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  p{
    font-size: 15px !important;
  }

  h3 {
    font-size: 18px !important;
  }

  a {
    font-size: 17px !important;
  }

  header nav {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  p{
    font-size: 15px !important;
  }

  h3 {
    font-size: 15px !important;
  }

  a {
    font-size: 17px !important;
  }

  header nav {
    text-align: center;
  }
}
