---
const { active } = Astro.props;
---

<header>
  <nav>
    <a href="/" class={active === "home" ? "active" : ""}>Home</a>
    <a href="/about" class={active === "about" ? "active" : ""}>About</a>
    <a href="/projects" class={active === "projects" ? "active" : ""}>Projects</a>
    <a href="https://github.com/Daniel-Miziolek" target="_blank">Github<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
  </nav>
</header>
